.httr-oauth
.cfg
downloads
code
.ssh
*_history
.password-store
.R
.dbus
.fonts
.Xauthority
.vim/plugged
.tmux
.viminfo
.pki
.rstudio-desktop
.wget-hsts
.mysql
gpl
.java
.IdeaIC2019.2
.android
.m2
.sdkman
.gem
.xorg.log
.ICEauthority
